@charset "UTF-8";

// --------------------------------------------------------------------------------
//    Common items
// --------------------------------------------------------------------------------
// 全ページ共通設定はここで行ってください。

// ＝＝＝＝＝非表示＝＝＝＝＝
.hide { display: none !important; }
.pc_none {
  // @include is_pc {
  //   display: none !important;
  // }
  // @include is_tab {
  //   display: none !important;
  // }
}
.sp_none {
  // @include is_sp {
  //   display: none !important;
  // }
}
body,html {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
}

