
// --------------------------------------------------------------------------------
//    keyframes
// --------------------------------------------------------------------------------
// keyframeの設定はここで行ってください。
// 使い方
// 例）　
// @keyframes blue {
//     0% {margin-left: 50px;}
//     100% {margin-left: 100px;}
// }
// 使いたい場所で、
// .blue_box {
//     animation: blue 1s linear infinite;
// }
