@charset "UTF-8";

// --------------------------------------------------------------------------------
//    Mixin items
// --------------------------------------------------------------------------------
// Mixinの設定はここで行ってください。
// 使い方
// 例）　
// @mixin blue_img($imag_path) {
//     background-image: url($imag_path);
// }
// 使いたい場所で、
// .blue_box {
//     @includ blue_img("../img/blue_logo.png");
// }

@mixin clearfix {
  &:after {
    content : '';
    display : block;
    clear : both;
  }
}
@mixin isSp {
  @media screen and  (max-width: 500px) {
    @content;
  }
}

@mixin default_txt($txtColor: #000,$txtSize: 18px) {
    color: $txtColor;
    font-size: $txtSize;
}

//可変背景設定
@mixin bg_fitting_img($imag_path,$inner_height) {
    display: block;
    width: 100%;
    height: 100%;
    padding: $inner_height 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url($imag_path);
}
//pc背景設定
@mixin bg_pc_img($imag_path,$width,$height) {
    display: block;
    width: $width;
    height: $height;
    background-repeat: no-repeat;
    background-size: $width $height;
    background-position: center;
    background-image: url($imag_path);
}
//sp背景設定
@mixin bg_sp_img($imag_path,$width,$height) {
    display: block;
    width: $width/2;
    height: $height/2;
    background-repeat: no-repeat;
    background-size: $width/2 $height/2;
    background-position: center;
    background-image: url($imag_path);
}
//可変背景設定
@mixin bg_pc_first_view_img($imag_path,$height) {
    display: block;
    width: 100%;
    height: $height;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center top;
    background-image: url($imag_path);
    background-attachment: fixed;
}

