
// --------------------------------------------------------------------------------
//    variable
// --------------------------------------------------------------------------------
// 変数設定はここで行ってください。


 // color

$white: #fff;
$black: #222;
$gray : #f4f4f4;
$gray_dark : #3d3d3d;
$navy : #466e8c;
$blue : #3498db;
$mainColor : #D91D1C;
$txtColor: #000;
$gray1: #666;
$gray2: #ccc;
$gray3: #e6e6e6;



// width

$contentWidth : 560px;
$innerWidth: 960px;


// margin

$auto : 0 auto;