.top_page {
  h1 {
    color: #123;
    font-size: 42px;
  }
  img {
    width: 250px;
    height: auto;
    margin: 10px auto;
  }
  .img_container {
    width: 100px;
    height: 200px;
    background-image: url("../img/hawk.jpg");
    background-size: cover;
    // background-image: url("../img/qiita_icon.png");
  }
}










